{
  "openapi": "3.1.0",
  "info": {
    "title": "Taskflow API",
    "version": "2.1.0",
    "description": "Project management API with users, projects, tasks, and comments.",
    "contact": {
      "name": "DevJanderson",
      "email": "dev@canvapi.dev"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    { "url": "https://api.taskflow.dev", "description": "Production" },
    { "url": "https://staging.taskflow.dev", "description": "Staging" },
    { "url": "http://localhost:8000", "description": "Local" }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "required": ["name", "email"],
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "role": { "type": "string", "enum": ["admin", "member", "viewer"] },
          "avatar_url": { "type": "string", "format": "uri" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Project": {
        "type": "object",
        "required": ["name", "owner_id"],
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "owner_id": { "type": "integer", "description": "References User.id" },
          "status": { "type": "string", "enum": ["active", "archived", "draft"] },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Task": {
        "type": "object",
        "required": ["title", "project_id"],
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "project_id": { "type": "integer", "description": "References Project.id" },
          "assignee_id": { "type": "integer", "description": "References User.id" },
          "status": { "type": "string", "enum": ["todo", "in_progress", "review", "done"] },
          "priority": { "type": "string", "enum": ["low", "medium", "high", "urgent"] },
          "due_date": { "type": "string", "format": "date" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Comment": {
        "type": "object",
        "required": ["body", "task_id", "author_id"],
        "properties": {
          "id": { "type": "integer", "format": "int64" },
          "body": { "type": "string" },
          "task_id": { "type": "integer", "description": "References Task.id" },
          "author_id": { "type": "integer", "description": "References User.id" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": { "type": "integer" },
          "message": { "type": "string" },
          "details": { "type": "array", "items": { "type": "string" } }
        }
      }
    }
  },
  "paths": {
    "/users": {
      "get": {
        "tags": ["Users"],
        "summary": "List all users",
        "operationId": "listUsers",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 25 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } },
          { "name": "role", "in": "query", "schema": { "type": "string", "enum": ["admin", "member", "viewer"] } }
        ],
        "responses": {
          "200": { "description": "List of users", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/User" } } } } },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "tags": ["Users"],
        "summary": "Create a user",
        "operationId": "createUser",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/User" } } }
        },
        "responses": {
          "201": { "description": "User created" },
          "400": { "description": "Validation error" }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "tags": ["Users"],
        "summary": "Get user by ID",
        "operationId": "getUser",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "userId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "User details" },
          "404": { "description": "Not found" }
        }
      },
      "put": {
        "tags": ["Users"],
        "summary": "Update user",
        "operationId": "updateUser",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "userId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/User" } } }
        },
        "responses": {
          "200": { "description": "User updated" },
          "404": { "description": "Not found" }
        }
      },
      "delete": {
        "tags": ["Users"],
        "summary": "Delete user",
        "operationId": "deleteUser",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "userId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "204": { "description": "Deleted" },
          "404": { "description": "Not found" }
        }
      }
    },
    "/projects": {
      "get": {
        "tags": ["Projects"],
        "summary": "List projects",
        "operationId": "listProjects",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["active", "archived", "draft"] } }
        ],
        "responses": {
          "200": { "description": "List of projects" }
        }
      },
      "post": {
        "tags": ["Projects"],
        "summary": "Create project",
        "operationId": "createProject",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Project" } } }
        },
        "responses": {
          "201": { "description": "Project created" },
          "400": { "description": "Validation error" }
        }
      }
    },
    "/projects/{projectId}": {
      "get": {
        "tags": ["Projects"],
        "summary": "Get project by ID",
        "operationId": "getProject",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Project details" },
          "404": { "description": "Not found" }
        }
      },
      "delete": {
        "tags": ["Projects"],
        "summary": "Archive project",
        "operationId": "archiveProject",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "204": { "description": "Archived" }
        }
      }
    },
    "/projects/{projectId}/tasks": {
      "get": {
        "tags": ["Tasks"],
        "summary": "List tasks in a project",
        "operationId": "listTasks",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "integer" } },
          { "name": "status", "in": "query", "schema": { "type": "string" } },
          { "name": "assignee_id", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "List of tasks" }
        }
      },
      "post": {
        "tags": ["Tasks"],
        "summary": "Create task",
        "operationId": "createTask",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "projectId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Task" } } }
        },
        "responses": {
          "201": { "description": "Task created" },
          "400": { "description": "Validation error" }
        }
      }
    },
    "/tasks/{taskId}": {
      "get": {
        "tags": ["Tasks"],
        "summary": "Get task by ID",
        "operationId": "getTask",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "taskId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Task details" },
          "404": { "description": "Not found" }
        }
      },
      "patch": {
        "tags": ["Tasks"],
        "summary": "Update task",
        "operationId": "updateTask",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "taskId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Task" } } }
        },
        "responses": {
          "200": { "description": "Task updated" }
        }
      },
      "delete": {
        "tags": ["Tasks"],
        "summary": "Delete task",
        "operationId": "deleteTask",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "taskId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "204": { "description": "Deleted" }
        }
      }
    },
    "/tasks/{taskId}/comments": {
      "get": {
        "tags": ["Comments"],
        "summary": "List comments on a task",
        "operationId": "listComments",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "taskId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "List of comments" }
        }
      },
      "post": {
        "tags": ["Comments"],
        "summary": "Add comment",
        "operationId": "addComment",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "taskId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Comment" } } }
        },
        "responses": {
          "201": { "description": "Comment added" }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health check",
        "operationId": "healthCheck",
        "responses": {
          "200": { "description": "OK" }
        }
      }
    }
  },
  "webhooks": {
    "taskCompleted": {
      "post": {
        "summary": "Task was marked as done",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Task" }
            }
          }
        }
      }
    },
    "commentAdded": {
      "post": {
        "summary": "New comment on a task",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Comment" }
            }
          }
        }
      }
    }
  }
}
